* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  text-align:center;
}

body {
width: 100%;
height: 100vh;
}

.background {
  background-color:#991632;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  border-radius: 0px;
}
div{
  border-radius: 15px;
}
.body{
  background-color: rgba(209, 24, 86, 0.685);
  height: 85%;
  width: 85%;
  display: grid;
  place-items: center;
}
.mainbody{
  background-color: rgba(233, 22, 103, 0.664);
  height: 95%;
  width: 90%;
  display: grid;
  place-items: center;
  grid-template-rows: 35% 65%;
}

.profile{
  background-color: rgb(155, 18, 45);
  display: grid;
  grid-template-rows:40% 60% ;
  place-items: center;
  height: 90%;
  width: 90%;
}
.pfp{
  background-image: url(../images/pfp.jpg);
  background-position: center;
  background-size: 100%;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-top: 60px;
}
.title{

  background-color: rgba(255, 228, 196, 0);
  display: grid;
  text-align: center;
  margin-top: 30px;

}
.name{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 100%;
  padding: 2px;
  
}
.bio{
  color:#d6d6d6;
  font-size: 80%;
  padding: 2px;
}
.links{
  background-color: rgba(104, 14, 104, 0);
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}
a img{
  height: 20px;
}
a{
  border-radius: 15px;
  width:86%;
  height: 65%;
  text-transform: uppercase;
  font-weight: 700;
  grid-template-columns: 50% 0% 50% 00% ;
  color: #363636;
  margin: auto;
  display: grid;
  place-items: center;
  background-color: rgb(226, 226, 226);
}
@media all and (max-width:700px) {
  .background {
 
  }

}
